header{
    display: flex;    
    flex-direction: column;
    align-items:center;
    font-size: 30px;
    color: darkmagenta;
}
ul{
    color: rgb(255, 64, 0);
}

ul li{
    list-style: square;
}

ol{
    color: rgb(185, 0, 209);
}

ol li{
 list-style-type: lower-roman;
}

ol li:nth-child(2){
    color: crimson;
}

ol li:nth-child(4){
    color: rgb(20, 220, 47);
}


section{
    color: rgb(235, 0, 125);
}

section:hover section:hover{
    color: rgb(0, 102, 255);
}

section:hover section:hover section:hover{
    color: rgb(0, 255, 157);
}

section:hover{
    color: rgb(0, 0, 0);
}

#social img {
    width: 250px;
    padding: 15px 15px 50px 15px;
    background-color: white;
   Border-color:red;
  Border-width: 10px;
  border-style: solid;
  
  }
  